---
layout: expo
title: Storesense EXPO
---

{% include sections/key-benefits.html %}

{% include sections/case-study.html %}

{% include sections/key-features.html %}

{% include sections/contact.html %}

{% include sections/as-seen.html %}

<script>
  window.intercomSettings = {
    app_id: "kweco69h"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/kweco69h';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>