<section id="as-seen-on">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Trusted by</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-12 text-center pr-icons">

                <img src="{{ site.baseurl }}/img/logos/BTS-logo.png" class="pr-icon">

                <img src="{{ site.baseurl }}/img/logos/Centaur_Media-logo.png" class="pr-icon">

                <img src="{{ site.baseurl }}/img/logos/Festival_of_Marketing-logo.png" class="pr-icon">

                <img src="{{ site.baseurl }}/img/logos/TTe-logo.png" class="pr-icon">

                <img src="{{ site.baseurl }}/img/logos/Ogilvy_Healthworld_UK-logo.png" class="pr-icon">

                <img src="{{ site.baseurl }}/img/logos/Booking_com-logo.png" class="pr-icon">

                <img src="{{ site.baseurl }}/img/logos/star_alliance.png" class="pr-icon">

             </div>
        </div>
    </div>
</section>
