<section id="case-study">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="features-quote">
                    <p>
                        “It usually takes a while for exhibitors to analyse the value of event attendance and decide to attend the next event. Using the Expo analytics data we were able to prove the value during the event itself, which helped raise our rebooking rates and dramatically shortened our rebooking times.”
                    </p>
                </div>
                <div class="features-attr">
                    <p>Sam Cande, Business Travel Show, Centaur Media</p>
                </div>
            </div>
        </div>
    </div>
</section>