<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                    <span class="no-uppercase">Get a demo account and try out Expo</span>
                </h2>
            </div>
        </div>

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        css: '',
                        portalId: '735484',
                        formId: 'e07572ab-9462-49f4-99d8-c4113b66ff1c'
                    });
                </script>
            </div>
        </div>
    </div>
</section>
