<section id="key-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/stand_analytics.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>In-depth stand and feature analytics</h4>
                <p>Track individual attendance statistics for exhibitors and sponsors: number of visitors, visit distribution, conversion rate from passers-by to stand visitors and visitor return rate are measured. Share the results with exhibitors and sponsors with a single click.</p>

                <!--HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-aabec663-528d-4b1d-bbbf-8a89d419a335">
                    <span class="hs-cta-node hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335" id="hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/aabec663-528d-4b1d-bbbf-8a89d419a335" ><img class="hs-cta-img" id="hs-cta-img-aabec663-528d-4b1d-bbbf-8a89d419a335" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/735484/aabec663-528d-4b1d-bbbf-8a89d419a335.png"  alt="Learn more"/></a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                    <script type="text/javascript">
                        hbspt.cta.load(735484, 'aabec663-528d-4b1d-bbbf-8a89d419a335', {});
                    </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->

            </div>

        </div>


       <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/stand_visitors.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>Global visit statistics</h4>
                <p>Combine the individual statistics into global event visit overview to identify good and poor performers, visitor behavior patterns and uncover the best way to grow your event.</p>

                <!--HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-aabec663-528d-4b1d-bbbf-8a89d419a335">
                    <span class="hs-cta-node hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335" id="hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/aabec663-528d-4b1d-bbbf-8a89d419a335" ><img class="hs-cta-img" id="hs-cta-img-aabec663-528d-4b1d-bbbf-8a89d419a335" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/735484/aabec663-528d-4b1d-bbbf-8a89d419a335.png"  alt="Learn more"/></a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                    <script type="text/javascript">
                        hbspt.cta.load(735484, 'aabec663-528d-4b1d-bbbf-8a89d419a335', {});
                    </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->

            </div>

        </div>

       <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/visitor_flows.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>Detailed visitor flows</h4>
                <p>Gain an insight into global visitor movements. Line thickness signifies the percentage of visitors travelling down a specific passage, while color signifies their speed. Identify low traffic zones and hot-spots at a glance.</p>

                <!--HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-aabec663-528d-4b1d-bbbf-8a89d419a335">
                    <span class="hs-cta-node hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335" id="hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/aabec663-528d-4b1d-bbbf-8a89d419a335" ><img class="hs-cta-img" id="hs-cta-img-aabec663-528d-4b1d-bbbf-8a89d419a335" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/735484/aabec663-528d-4b1d-bbbf-8a89d419a335.png"  alt="Learn more"/></a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                    <script type="text/javascript">
                        hbspt.cta.load(735484, 'aabec663-528d-4b1d-bbbf-8a89d419a335', {});
                    </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->

            </div>

        </div>

       <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/premium_locations.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>Location quality measurement</h4>
                <p>Assign a quality to each location based on the percentage of visitors that passed it. Identify popular locations and gain all the proof you need to justify premium pricing.</p>

                <!--HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-aabec663-528d-4b1d-bbbf-8a89d419a335">
                    <span class="hs-cta-node hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335" id="hs-cta-aabec663-528d-4b1d-bbbf-8a89d419a335">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/aabec663-528d-4b1d-bbbf-8a89d419a335" ><img class="hs-cta-img" id="hs-cta-img-aabec663-528d-4b1d-bbbf-8a89d419a335" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/735484/aabec663-528d-4b1d-bbbf-8a89d419a335.png"  alt="Learn more"/></a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                    <script type="text/javascript">
                        hbspt.cta.load(735484, 'aabec663-528d-4b1d-bbbf-8a89d419a335', {});
                    </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->

            </div>

        </div>




    </div>
</section>
