<section id="key-benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Event organisers</h3>
                    <div class="callout-desc">
                        Increase revenue by identifying more premium positions and reduce sales cycles by demonstrating
                        the value of each event space.
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Exhibitors and sponsors</h3>
                    <div class="callout-desc">
                        Measure touchpoints, evaluate engagement strategy and easily benchmark different events to
                        optimise your event presence.
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Venue owners</h3>
                    <div class="callout-desc">
                        Attract and retain the best events by providing state-of the art analytics for event organisers
                        and sponsors.
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>