<section id="key-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row feature-images">
            <div class="col-md-6">
                 <img src="{{ site.baseurl }}/img/mockups/stand_analytics.png" class="feature-mockup">
                <div class="callout-desc">In-depth stand and feature analytics</div>
            </div>

            <div class="col-md-6">
                 <img src="{{ site.baseurl }}/img/mockups/stand_visitors.png" class="feature-mockup">
                 <div class="callout-desc">Global visit statistics</div>
            </div>
        </div>
<p style="padding-bottom: 20px">
        <div class="row feature-images">
            <div class="col-md-6">
                 <img src="{{ site.baseurl }}/img/mockups/visitor_flows.png" class="feature-mockup">

                 <div class="callout-desc">Detailed visitor flows</div>
            </div>

            <div class="col-md-6">
                 <img src="{{ site.baseurl }}/img/mockups/premium_locations.png" class="feature-mockup">

                 <div class="callout-desc">Location quality measurement</div>
            </div>
        </div>

    </div>
</section>
