<section id="key-benefits">
    <div class="container">
        <!--
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Proven benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>
-->
        <div class="row">

            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Add value to exhibitors</h3>
                    <div class="callout-icon">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-tachometer fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="callout-desc">
                        Help exhibitors improve engagement strategies and prove the value of sponsorships with detailed stand and feature analytics
                    </div>
                </p>
            </div>

            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Increase rebookings</h3>
                    <div class="callout-icon">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-heart fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="callout-desc">
                        Increase rebooking rates, event satisfaction and intent to return by proving the value of attendance
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Grow your event</h3>
                    <div class="callout-icon">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-line-chart fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="callout-desc">
                        Use insight into visitor flows to find the best ways of growing your event
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>