<section id="key-benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Venue owners</h3>
                    <div class="callout-desc">
                        Generate more revenue and help event organisers grow their events
                    </div>
                </p>
            </div>

            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Event organisers</h3>
                    <div class="callout-desc">
                        Prove the value of sponsorships, help exhibitors improve engagement strategies and increase rebooking rates
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Exhibitors and sponsors</h3>
                    <div class="callout-desc">
                        Evaluate engagement strategy, optimise future events and prove return on investment
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>