<section id="key-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row parent-rect">
            <div class="col-md-offset-1 col-md-5 col-xs-6 rect" id="nw-rect">
                <h3 class="longer-title">Stand space benchmarking</h3>
                <div class="rect-maintext">
                    <p>Discover more premium locations by accurately measuring location quality</p>
                </div>
            </div>
            <div class="col-md-5 col-xs-6 rect" id="ne-rect">
                <h3 class="longer-title">Sponsor analytics</h3>
                <div class="rect-maintext">
                    <p>Provide an in-depth dashboard for sponsors and exhibitors</p>
                </div>
            </div>
        </div>

        <div class="row parent-rect">
            <div class="col-md-offset-1 col-md-5 col-xs-6 rect" id="sw-rect">
                <h3 class="longer-title">Visitor profiles</h3>
                <div class="rect-maintext">
                    <p>Use data on visited stands to build visitor profiles</p>
                </div>
            </div>
            <div class="col-md-5 col-xs-6 rect" id="se-rect">
                <h3 class="longer-title">EU privacy standards</h3>
                <div class="rect-maintext">
                    <p>Full compliance with EU privacy directives</p>
                </div>
            </div>
        </div>
    </div>
</section>
