<section id="whitepaper-link">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <img src="{{ site.baseurl }}/img/whitepaper-icon.png" class="whitepaper-icon">
            </div>
            <div class="col-md-3 whitepaper-text text-center">
                <p>Free whitepaper: using visitor movement analytics to get the most out of your events.</p>
                <a href="/files/expo_analytcs_whitepaper.pdf"  target="_blank" class="btn btn-xl btn-blue">
                            Download whitepaper
                        </a>
                
            </div> 
            <div class="col-md-2 text-center">
               <img src="{{ site.baseurl }}/img/case-study-icon.png" class="whitepaper-icon">
            </div>
            <div class="col-md-3 text-center">
                <p>How Expo analytics increased rebooking rates at Business Travel Show by up to 30%</p>
                <a href="/files/expo_analytics_bts_2016_case_study.pdf" target="_blank" class="btn btn-xl btn-blue">
                            Download case study
                        </a>
                    
            </div>
        </div>
    </div>
</section>