<header id="heading-expo">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Supercharge your event with plug-and-play analytics</div>
            <div class="intro-description">Instantly add value to exhibitors and increase event revenue</div>

            <!--HubSpot Call-to-Action Code -->
            <span class="hs-cta-wrapper" id="hs-cta-wrapper-e360ce47-4d3a-461e-9415-2d8cb2396a47">
                <span class="hs-cta-node hs-cta-e360ce47-4d3a-461e-9415-2d8cb2396a47"
                      id="hs-cta-e360ce47-4d3a-461e-9415-2d8cb2396a47">
                    <!--[if lte IE 8]>
                    <div id="hs-cta-ie-element"></div><![endif]-->
                    <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/e360ce47-4d3a-461e-9415-2d8cb2396a47" class="page-scroll btn btn-xl">
                      <span>Try out the Expo!</span>
                    </a>
                </span>
                <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                <script type="text/javascript">
                    hbspt.cta.load(735484, 'e360ce47-4d3a-461e-9415-2d8cb2396a47');
                </script>
            </span>
            <!-- end HubSpot Call-to-Action Code -->
            <p style="padding-bottom: 25px;">
        </div>
    </div>
</header>
